<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/opt/tomcat/logs/coinblesk.log</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- Levels: OFF, ERROR, WARN, INFO, DEBUG, TRACE and ALL.  -->
  
  <logger name="com.coinblesk" level="ALL"/> 
  <logger name="ch.uzh.csg" level="ALL"/>
  <logger name="org.springframework" level="DEBUG"/>
   
  <root level="WARN">
    <appender-ref ref="FILE" />
  </root>
</configuration>