<div class="masthead">
    <div class="navbar">
    	<div class="navbar-inner">
    		<div class="container">
    			<ul class="menu">
    				<li data-ng-class="{ active: isActive('/home')}"><a href="#/home">Home</a></li>
    				<li data-ng-class="{ active: isActive('/relation')}"><a href="#/relation">Trust Relation</a></li>
    				<li data-ng-class="{ active: isActive('/users')}"><a href="#/users">Users</a></li>
    				<li data-ng-class="{ active: isActive('/history')}"><a href="#/history">History</a></li>
    				<li data-ng-class="{ active: isActive('/activities')}"><a href="#/activities">Activities</a></li>
    			</ul>
    		</div>
    	</div>
	</div>
</div>
<div class="container" id="activitiesController">
	<h2 class="title_2">Users</h2>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>Date</th>
				<th>Activity</th>
				<th>User</th>
			</tr>
		</thead>
		<tbody data-ng-repeat="activity in activitylogs" data-ng-non-bindable="">
			<tr>
				<td>{{activity.creationDate | date:'yyyy-MM-dd HH:mm'}}</td>
				<td>{{activity.title}}</td>
				<td>{{activity.username}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<p></p>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Overview">Overview</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="overview" class="btn btn-primary">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="AboutMBPS">About MBPS</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="aboutmpbs" class="btn btn-primary">View details</a></p>
	<p></p>
	</div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Guidelines">Guidelines</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="guidlines" class="btn btn-primary">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Help">Help</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="help" class="btn btn-primary">View details</a></p>
	<p></p></div>      
	<p></p>
</div>