<div class="masthead">
    <div class="navbar">
    	<div class="navbar-inner">
    		<div class="container">
    			<ul class="menu">
    				<li><a href="#/home">Home</a></li>
    				<li><a href="#/relation">Relation</a></li>
    				<li><a href="#/users">Users</a></li>
    				<li class="active"><a href="#/history">History</a></li>
    				<li><a href="#/messages">Messages</a></li>    				
    				<li><a href="#/activities">Activities</a></li>
    			</ul>
    		</div>
    	</div>
	</div>
</div>
<div class="container" id="historyController">
	<div class="history_transaction" data-ng-repeat="transaction in servertransactions" data-ng-non-bindable="">
		Amount: <b>{{transaction.amount}} BTC</b><span style="margin:20px;"></span> URL: <b>{{transaction.serverUrl}}</b>
		<span style="margin:20px;"></span>Timestamp: <b>{{transaction.timestamp | date:'yyyy-MM-dd HH:mm'}}</b>
		<span style="margin:20px;"></span>Received: <b>{{transaction.received}}</b> 
	</div>
</div>
<div class="row">
	<p></p>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Overview">Overview</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="overview" class="btn btn-info">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="AboutMBPS">About MBPS</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="aboutmpbs" class="btn btn-info">View details</a></p>
	<p></p>
	</div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Guidelines">Guidelines</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="guidlines" class="btn btn-info">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Help">Help</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="help" class="btn btn-info">View details</a></p>
	<p></p></div>      
	<p></p>
</div>