<div class="masthead">
    <div class="navbar">
    	<div class="navbar-inner">
    		<div class="container">
    			<ul class="menu">
    				<li data-ng-class="{ active: isActive('/home')}"><a href="#/home">Home</a></li>
    				<li data-ng-class="{ active: isActive('/relation')}"><a href="#/relation">Trust Relation</a></li>
    				<li data-ng-class="{ active: isActive('/users')}"><a href="#/users">Users</a></li>
    				<li data-ng-class="{ active: isActive('/history')}"><a href="#/history">History</a></li>
    				<li data-ng-class="{ active: isActive('/activities')}"><a href="#/activities">Activities</a></li>
    			</ul>
    		</div>
    	</div>
	</div>
</div>
<div class="container" id="relationController">
	<h2 class="title_2">Relations</h2>
	<span>
		<script type="text/ng-template" id="modalnewAccount.html">
			<div class="modal-body">
				<div class="alert alert-danger" ng-show="error">{{errorMessage}}</div>
          		<form name="newAccountForm" data-ng-submit="submit()">
					<div class="modal-header">
    					<h3>Create new Account</h3>
  					</div>
  					<div class="modal-body">
						<p>Please enter the url address of the new account:</p>
						<input class="form-control" data-ng-model="account.url" type="text" name="url" placeholder="new url address"/>
  					</div>
  					<div class="modal-footer">
    					<button class="btn btn-primary" type="submit">OK</button>
    					<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
  					</div>
				</form>
			</div>
    	</script>
		<button class="btn btn-default" data-ng-click="openCreateAccountModal()">Create New Trust</button>
	</span>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr><th>URL</th><th>Payin Address</th><th>Payout Address</th><th>Relation</th><th>Balance</th><th>Time</th>
		</tr>
		<tr data-ng-repeat="account in serveraccounts" data-ng-non-bindable="">
			<td><a class="btn btn-default btn-lg btn-block active" data-role="button" data-ng-href="#/serveraccount/{{account.id}}" data-ng-click="">{{account.url}}</a></td>
			<td>{{account.payinAddress}}</td>
			<td>{{account.payoutAddress}}</td>
			<td>{{trust[account.trustLevel]}}</td>
			<td>{{account.activeBalance}}</td>
			<td>{{account.creationDate | date:'yyyy-MM-dd HH:mm'}}</td>
		</tr>
	</table>
</div>
<div class="row">
	<p></p>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Overview">Overview</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="overview" class="btn btn-info">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="AboutMBPS">About MBPS</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="aboutmpbs" class="btn btn-info">View details</a></p>
	<p></p>
	</div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Guidelines">Guidelines</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="guidlines" class="btn btn-info">View details</a></p>
	<p></p></div>
	<div class="col-lg-3">
	<p></p>
	<h2 id="Help">Help</h2><ul><li>Lorem ipsum</li><li>Lorem ipsum</li></ul><p><a href="help" class="btn btn-info">View details</a></p>
	<p></p></div>      
	<p></p>
</div>